@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
$primaryFont: 'Open Sans', sans-serif;
$primaryButtonsColor: #616161;
$primaryButtonsBorder:  1px solid  #373737;
body{
    height: 100%;
}
.root{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.images{
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}