.images{
    width: 250px;
    height: 350px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 29%;

}
.description{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.wrapper-genres-date{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}
.genres{
    display: flex;
    align-items: center;
    color: #8d8888;
}
.date{
    height: 15px;
    border: 2px solid #61616171;
    border-radius: 3px;
  }