.wrapper{
    background-image: url(../../images/header-background.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}
.wrapperPosition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;
}